.App {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: lighter;
  font-size: 1.4em;
  margin-left: 30%;
}

.buttons {
  height:2.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: lightgray;
  color: black;
  flex: 1;
}

.operador {
  height:2.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: cadetblue;
  color: black;
  flex: 1;
}

.row {
  flex: 1;
  width: 100%;
  display: flex;
}

.memoria{
  height:2.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: rgb(230, 174, 70);
  color: black;
  flex: 1;  
}

.container{
  width: 400px;
  flex-direction: column;
  background-color: whitesmoke;
}

.layout{
  display:flex;
  flex-direction: row;
}

h3{
  text-align: center;
}